.checkout-description {
	text-decoration: none !important;
}

.continue-shopping a {
color:rgb(4, 4, 193);
text-decoration: none
}

.cart-list {
	margin-right: 0 !important;
	padding-right: 0 !important;
}