* {
	padding: 0;
	margin: 0;	
}

.body{
	background-color: #BDA5AB;

}

.title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	/* I changed the color in an h1 element but cannot find it, so I put the imortant to override it */
	color: #002120 !important;
}

.img-container {
	position: relative;
	max-height: 30%;
	width: 100%;  
	overflow: hidden;
  }
  
.img {
	max-height: 9rem;
	transition: transform 0.3s ease;
}

.img:hover {
	transform: scale(1.1); 
}
  
  .card-body {
	text-align: center;
	display:flex;
  }  

  .removeFromCartBttn {
	background-color: rgb(251, 86, 86);
	border: 2px solid rgb(161, 151, 151);
	
display: inline-block;
	border-radius: 15px;

  }
  
  .addToCartBttn:hover {
	background-color: rgb(19, 19, 19);
	color: white;
	cursor: pointer;
  }
  
  @media (max-width: 768px) {
	.product {
	  width: calc(50% - 20px);
	}
  }


.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 15px;
padding: 1rem 1rem;
}


.footer-cta {
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}




  /* .product-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain; 
  } */

/* .shopTitle {
	margin: 3rem;
	text-align: center;
	font-size: 40px;
  } */

  /* .product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
   
  .product {
	border-radius: 15px;
	width: calc(33.33% - 20px);
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	align-items: center;
	background-color: aliceblue;
	color: black;
	padding: 10px; 
	box-sizing: border-box; 
	text-align: center;
	height: auto;
  }
  
  .product img {
	width: 100%; 
	max-width: 100%;
	height:50%;
	margin-bottom: 10px; 
  }
  
  .product .description {
	margin-top: 10px; 
  }
  
  .product:hover {
	transition: 0.3s ease-in;
	cursor: pointer;
  } */
