.logo-container {
	float: left;
	margin: 0;
	padding:0;
}

.logo {
	height:100%;
	width:40%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
  }
  
.welcome {
	color: white;
  }

.navbar {
	width: 100%;
	background-color: rgb(19, 19, 19);
	display: flex;
	justify-content: space-between;
	align-items: center;
	
  }
  
  .links {
	margin-left: 2rem;
	display: flex;
	align-items: center;
  }

  .navbar .links .active {
	text-decoration: underline;
	font-weight: 600;
	color: white;
  }
  
  .links a {
	text-decoration: none;
	color: rgb(213, 209, 209);	
	
	margin-left: 20px;
	font-size: 25px;
  }

  .register-link {
	margin-right: 4rem
  }



